* {
    margin: 0;
    padding: 0;
}


/* common shared style */

body {
    font-family: 'Lato', sans-serif;
}


/* banner section start  */

.banner {
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    align-items: center;
    padding: 50px 100px 0px 100px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.banner-description {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 32px;
}


/* common shared styles start */

.primary-btn {
    padding: 20px 43px;
    border-radius: 8px;
    border: 0;
    background: #E55473;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

.primary-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 200px;
}

.primary-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}


/* service section start */

.service {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 250px 150px;
    padding: 150px;
}


/* hot deal sale section start  */

.hot-deal {
    text-align: center;
}

.sale {
    display: flex;
    background-color: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
    padding: 150px;
    text-align: center;
}

.hot-deal>.primary-title,
.primary-description {
    margin: 24px;
}

#red-color {
    color: #E55473;
}


/* social media -->instagram section start */

.instagram .primary-title,
.primary-description {
    margin: 24px;
}

.flower {
    width: 100%;
}

.flower-sample {
    /* display: flex; */
    /* justify-content: space-around; */
    /* width: 60%;
    margin: auto;
    gap: 40px; */
    height: 300px;
    width: 150px;
}

.instagram .flower-sample {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}


/* latest deals section */

.latest-deal {
    text-align: center;
    background-image: url('../Flower\ Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 240px 128px;
    padding-bottom: 150px;
}

.latest-deal input[type="email"] {
    padding: 20px 22px;
    border-radius: 8px;
    border: 0;
    background: #FFFFFF;
    color: rgba(39, 39, 39, 0.60);
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    margin-right: 8px;
    width: 50%;
}


/* footer section */

footer {
    background-color: #111010;
    text-align: center;
    padding: 100px 350px;
}

.footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}

#white-color {
    color: #FFFFFF;
}

.footer-description {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

.copy-right {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}


/* Features--flower cards section  start*/

.card {
    height: 250px;
    width: 200px;
    border-radius: 100px 100px 0px 0px;
    background-color: #E55473;
    text-align: center;
}

.card-img {
    width: 80%;
    height: 100%;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
}

.flower-card h3 {
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-decoration-line: underline;
}